.pokemon {
	width: 75%;
	height: auto;
	position: relative;
	z-index: 3;
}

#wrapMain {
	max-width: 100%;
	max-height: 60%;
	position: absolute;
	
}

#listBtn{
	position: relative;
	
}

.HP{
	width:40%;
	height: 50px;
	position: relative;
	opacity:0;
}
#userHP{
	position: absolute;
    left: 50%;
    top: 90%;
	background: linear-gradient(to right,red,orange,yellow,green);
}
#enemyHP{
	position: absolute;
    left: 10%;
    top: 25%;
	background: linear-gradient(to right,red,orange,yellow,green);
}
#Projectile{
	
	left: 20%;
    top: 70%;
	position: absolute;
	max-width: 30%;
	height: auto;
	opacity:0;
}
#enemyHPValue{
	left: 100%;
	width:0%;
	height:110%;
	top: -5%;
	background-color:gray;
	z-index: 0;
}
#userHPValue{
	left: 100%;
	top: -5%;
	width:0%;
	height:110%;
	background-color:gray;
}