body
{
	overflow: hidden;
}
html, body, #map-canvas 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
#backbtn{
	position: absolute;
	left:90%;
	top:0%;
	
}
img{
	height: 50px;
	z-index: 9;
}